<div class="col-md-4 mb-4">

    <div class="card h-100 shadow-sm">

        <img src="{{ url_for('static', filename=product.image) }}" class="card-img-top">

        <div class="card-body">

            <p class="text-muted">{{ product.type }}</p>

            <h5>{{ product.name }}</h5>

            <h6>${{ product.price }}</h6>

            <p>* {{ product.reviews }} reviews</p>

            <p>{{ product.description }}</p>

        </div>

        <div class="card-footer bg-white border-0">

            <button class="btn btn-danger w-100">
            🛒 Add To Cart
            </button>

        </div>

    </div>

</div>