<!DOCTYPE html>
<html>
<head>

    <title>{% block title %}Shop{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="/">Logo</a>

        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/">Subscribe</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/shop">Shop</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/cartprofile/{{ current_user.id }}">Cart/Account</a>
            </li>
            {% endif %}
        </ul>

    </div>
</nav>


<!-- PAGE CONTENT -->
<div class="container mt-5">

    {% block content %}

    {% endblock %}

</div>


<!-- FOOTER -->
<footer class="bg-light mt-5 p-4 text-center">

    <p>Company | Terms | Product Updates | Community</p>

</footer>

</body>
</html>